<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SauceTestSuite" verbose="1">

    <test name="LoginTests">
        <classes>
            <class name="com.qa.testing.saucetest.tests.login.LoginTest"/>
        </classes>
    </test>

    <test name="CheckoutTests">
        <classes>
            <class name="com.qa.testing.saucetest.tests.checkout.CheckoutTest"/>
        </classes>
    </test>

    <test name="CartTests">
        <classes>
            <class name="com.qa.testing.saucetest.tests.cart.CartTest"/>
        </classes>
    </test>

    <test name="LogoutTests">
        <classes>
            <class name="com.qa.testing.saucetest.tests.logout.LogoutTest"/>
        </classes>
    </test>

</suite>